# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
*.exe
TaskTester/bin/Release/TaskTester.exe.config
*.pdb
*.config
TaskTester/bin/Release/TaskTester.vshost.exe.manifest
*.cache
TaskTester/obj/Release/TaskTester.csproj.FileListAbsolute.txt
TaskTester/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
